<div id="disneyshare-chat">
    <div id="dsp-header" class="columns">
        <div id="dsp-title" class="column is-9">
            <h2 class="title is-5 has-text-info">Disney+ Share Party</h2>
            <h3 class="subtitle is-7 has-text-white-ter">Interact with your friends.</h3>
        </div>
        <div style="display:none;" id="dsp-profile" class="column">
            <figure class="avatar-wrapper image is-48x48">
                <img class="is-rounded" id="user-profile" />
            </figure>
        </div>
    </div>
    <div id="dsp-content">
        <div id="user-settings">
            <div>
                <figure class="avatar-wrapper image is-128x128">
                    <img class="is-rounded" id="user-avatar" />
                </figure>
            </div>
            <div class="field">
                <select id="avatar-menu" style="display:none;" class="image-picker">
                </select>
            </div>

            <div class="field">
                <label class="label has-text-white has-text-weight-light" for="username">Choose an username</label>
                <div class="control">
                    <input type="text" class="input" maxlength="15" name="username" id="username">
                </div>
                <p id="username-error" style="display:none;" class="help is-danger">Please enter a valid username.</p>
            </div>
            <div style="padding:15px;" class="buttons is-centered">
                <button id="loginChat" class="button is-dark is-medium">Apply</button>
            </div>
        </div>
        <div style="display:none;" id="chat-section">
            <div id="chat-container">
            </div>
            <div style="visibility: hidden;" id="is-typing">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="mb-4">
                <input autocomplete="off" id="inputSendMsg" type="text">
            </div>
            <div id="footer">
                <p style="font-size: 0.5em; color: #434657;">Wassim Binous © | All rights reserved</p>
            </div>
        </div>
    </div>
</div>