/* ########## Disney Share Party ########## */
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Light.ttf") format("ttf"),
         url("fonts/OpenSans-LightItalic.ttf") format("ttf"),
         url("fonts/OpenSans-Regular.ttf") format("ttf");
}

/* ########## Chat ########## */

#disneyshare-chat {
    height:100%;
    width:350px;
    max-height: inherit;
    max-width: 350px;
    min-width: 350px;
    background-color: rgb(9, 11, 19);
    font-family: 'Open Sans', sans-serif;
    color: rgb(249, 249, 249);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.6) -5px 0px 10px;
    z-index:999;
    user-select: text;
}

#dsp-content {
    height: 100%;
    max-height: inherit;
    max-width: inherit;
}

#chat-container {
    height:80%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

#dsp-header {
    border-bottom: 3px solid rgb(20, 24, 40);
}

#chat-section {
    height: 100%;
    max-height: inherit;
    max-width: inherit;
}

input#inputSendMsg {
    width: 100%;
    background-color: #13151a;
    border: 1px inset #2d2f36;
    color: white;
}

input#inputSendMsg:focus-visible {
    outline: 2px solid rgb(54, 57, 70);
}

input#inputSendMsg:focus {
    outline: 2px solid rgb(54, 57, 70);
}

.avatar-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.image_picker_image {
    width:100%;
    height:100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.image_picker_image:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.thumbnail.selected img {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.thumbnail {
    border: 0 !important;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor:pointer;
}

.thumbnails {
    margin-top:15px !important;
}

#user-profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.content strong {
    color: #d5d5d5;
}

.content p {
    font-size: 0.9em;
    margin: 0 !important;
}

.media + .media {
    border-top: 1px solid #141828;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
}

.content p {
    word-break: break-word;
}

.dateMsg {
    visibility: hidden;
    color: #515568e0 !important;
    font-size: 0.65em !important;
    user-select: none;
    text-align: center;
}

.media:hover > figure > .dateMsg {
    visibility: visible;
}

.chat-log {
    width: 100;
    padding-top: 0;
    margin-top:2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/***** Styling scrollbar *****/

#chat-container::-webkit-scrollbar {
    width: 5px;
}

/* background */
#chat-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* normal color */
#chat-container::-webkit-scrollbar-thumb {
    background: #3298dc;
}

/* hover color */
#chat-container::-webkit-scrollbar-thumb:hover {
    background: #3298dc;
}


/**** Is Typing loader ****/
    
#is-typing {
    width: 100%;
    height: 15px;
    margin: 5px;
    text-align: left;
  }
  
  #is-typing > div {
    width: 5px;
    height: 5px;
    background-color: #3298dc;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  #is-typing .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  #is-typing .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }